.vscode/
# Doxygen output
docs/html/
docs/latex/
# File generati da qmake/make
Makefile
Makefile.Debug
Makefile.Release
*.o
release/
debug/
*.so
*.a
*.dll
*.exe
moc_*.cpp
qrc_*.cpp
ui_*.h
