/* QPushButton{
    background-color: transparent;
    color: #708084;
    padding: 10px 15px;
    font-family: "Inter";
    font-size: 20pt;
    border:none;
    border-radius: 8px;
} 

QPushButton:hover{
    background-color: #073c47;
    color: #e9fed46a;
}

QPushButton:pressed{
    color: #e9fed46a;
    background-color: transparent;
}

QPushButton:pressed{
    color: #e9fed46a;
}

QMenu,QMenuBar{
    color: #D9D9D9;
    font-size: 14pt;
    background-color:#05313c;
}

QMenu{
    border: 1px solid #be708084;
    border-radius:8px;
}

QMenu::item{
    border: 1px solid #be708084;
    padding-left:8px;
    padding-right:8px;
    padding-top:3px;
    padding-bottom:3px;
}

QMenuBar{
    background-color:#05313c;
}

QMenuBar::item,
QMenuBar::item:hover,
QMenuBar::item:selected{
    padding: 5px 10px;
}

QMenuBar::item:hover,
QMenuBar::item:selected,
QMenu::item:selected
{
    background-color:#05313c;
}

QLineEdit{
    background-color:#05313c;
    border-radius: 20px;
    padding:5px 10px;
    color: #708084;
    font-size: 16pt;
    min-height:10px;
    max-height:50px;
}

QComboBox{
    background-color:#0e4551;
    color: #708084;
    padding: 5px;
    min-width:100px;
    max-width:400px;
    min-height:20px;
    max-height:30px;
    font-size: 16pt;
    border:none;
    border-radius: 10px;
}

#addMedia{
    background-color:#05313c;
    color: #708084;
    border-radius: 8px;
    font-size: 25pt;
    padding: 30px;
    border-radius:35px;
}

#addMedia:pressed{
    color: #0e4551;
}

#latoSinistraSP{
    background-color:#0e4551;
    border-top:2px solid #073c47;
}

#stackModifiche{
    background-color: #073c47;
    border-top:2px solid #073c47;
}

#widegetMedia QPushButton {
    text-align: left;
}

#addMedia:hover{
    color: #e9fed46a;
}

#filtri{
    color: #708084;
    min-height:10px;
    max-height:50px;
}

#invioCerca, #vista{
    background-color:transparent;
    color: #708084;
    min-height:10px;
    max-height:50px;
}

#invioCerca:hover,
#vista:hover,
#filtri:hover{
    color: #e9fed46a;
}

#invioCerca:pressed,
#vista:pressed,
#filtri:pressed{
    color: #e9fed46a;
}

#cinema{
    color:#afc5cc;
    text-align: center;
}

#cinema:hover{
    color:#e9fed46a;
}

#widgetPath{
    background:#fed46a;
    min-height:300px;
    max-height:400px;
    max-width:400px;
    min-width:300px;
    border: 30px dashed #fed46a;
}

 */

/* LineEdit + ComboBox (parte visibile) */
#titoloMedia,
#autoreMedia,
#CasaProdFilm,
#conduttorePodcast,
#aziendaInserzInserzione,
#comboFormato,
#comboRisoluzione,
#comboTarget,
#comboTipologia,
#inputPersone,
#aggiungi,
#descrizioneMedia,
#rimuovi,
#listapersone,
QDateEdit#dataFine:enabled,
QDateEdit#dataInizio:enabled {
    border: none;   
    border-radius: 10px;
    background-color: #4e7f8b;
    color: #05313c;
    padding: 8px 12px;
    font-size: 12pt;
}

QDateEdit#dataInizio:disabled,
QDateEdit#dataFine:disabled,
QDateEdit#dataInizio:disabled QLineEdit,
QDateEdit#dataFine:disabled QLineEdit {
    background-color: #365961;
    color: #05313c;
    border-radius: 10px;
}

/* Lista a tendina delle combo */
#comboFormato QAbstractItemView,
#comboRisoluzione QAbstractItemView,
#comboTarget QAbstractItemView,
#comboTipologia QAbstractItemView {
    border: none;
    outline: 0;
    margin: 0;
    padding: 0;
    background-color: #4e7f8b; 
    border-radius: 10px;
    color: #05313c;
}

#comboFormato QAbstractItemView::item,
#comboRisoluzione QAbstractItemView::item,
#comboTarget QAbstractItemView::item,
#comboTipologia QAbstractItemView::item {
    padding: 8px 12px;
    margin: 0;
    border: none;
    background-color: #4e7f8b; 
    color: #05313c;
}

#comboFormato QAbstractItemView::item:hover,
#comboRisoluzione QAbstractItemView::item:hover,
#comboTarget QAbstractItemView::item:hover,
#comboTipologia QAbstractItemView::item:hover {
    background-color: #365961 !important;
    color: #bdced3 !important;
}

#comboFormato::down-arrow,
#comboRisoluzione::down-arrow,
#comboTarget::down-arrow,
#comboTipologia::down-arrow,
#dataInizio::down-arrow,
#dataFine::down-arrow{
    image: url(icons/arrow_down.png);
}

/* SpinBox (campo testo) */
#durataMinutiMedia,
#totPostCreditFilm,
#numeroProiezioniTrailer,
#numeroProiezioniGioInserzione,
#numeroPubblicitaPuntata,
#costoBigliettoFilm,
#costoBaseProiezInserzione {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #4e7f8b;
    color: #05313c;
    padding: 6px 10px;
    font-size: 14pt;
}

/* SpinBox */
#durataMinutiMedia::up-button,
#totPostCreditFilm::up-button,
#numeroProiezioniTrailer::up-button,
#numeroProiezioniGioInserzione::up-button,
#numeroPubblicitaPuntata::up-button,
#costoBigliettoFilm::up-button,
#costoBaseProiezInserzione::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    width: 16px;
    background-color: #4e7f8b;
    border: none;
}

#durataMinutiMedia::down-button,
#totPostCreditFilm::down-button,
#numeroProiezioniTrailer::down-button,
#numeroProiezioniGioInserzione::down-button,
#numeroPubblicitaPuntata::down-button,
#costoBigliettoFilm::down-button,
#costoBaseProiezInserzione::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    width: 16px;
    background-color: #4e7f8b;
    border: none;
}

#durataMinutiMedia::up-arrow,
#totPostCreditFilm::up-arrow,
#numeroProiezioniTrailer::up-arrow,
#numeroProiezioniGioInserzione::up-arrow,
#numeroPubblicitaPuntata::up-arrow,
#costoBigliettoFilm::up-arrow,
#costoBaseProiezInserzione::up-arrow,
#durataMinutiMedia::down-arrow,
#totPostCreditFilm::down-arrow,
#numeroProiezioniTrailer::down-arrow,
#numeroProiezioniGioInserzione::down-arrow,
#numeroPubblicitaPuntata::down-arrow,
#costoBigliettoFilm::down-arrow,
#costoBaseProiezInserzione::down-arrow {
    width: 10px;
    height: 10px;
}

#durataMinutiMedia::up-arrow,
#totPostCreditFilm::up-arrow,
#numeroProiezioniTrailer::up-arrow,
#numeroProiezioniGioInserzione::up-arrow,
#numeroPubblicitaPuntata::up-arrow,
#costoBigliettoFilm::up-arrow,
#costoBaseProiezInserzione::up-arrow
{
    image: url(icons/arrow_up.png);
}

#durataMinutiMedia::down-arrow,
#totPostCreditFilm::down-arrow,
#numeroProiezioniTrailer::down-arrow,
#numeroProiezioniGioInserzione::down-arrow,
#numeroPubblicitaPuntata::down-arrow,
#costoBigliettoFilm::down-arrow,
#costoBaseProiezInserzione::down-arrow 
{
    image: url(icons/arrow_down.png);
}

/
/* descrizione (QTextEdit) */
#descrizioneMedia QScrollBar:vertical {
    background: #04303b;
    width: 12px;
    margin: 0px 0px 0px 0px;
    border: 1px solid #04303b;
    border-radius: 5px;
}

#descrizioneMedia QScrollBar::handle:vertical {
    background: #18424d;
    min-height: 20px;
    border-radius: 3px;
}

#descrizioneMedia QScrollBar::add-line:vertical,
#descrizioneMedia QScrollBar::sub-line:vertical {
    background: #04303b;
    border: 1px solid #04303b;
    height: 12px;
    border-radius: 5px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

#descrizioneMedia QScrollBar::add-line:vertical:hover,
#descrizioneMedia QScrollBar::sub-line:vertical:hover {
    background: #04303b;
}
